<section>
  <div class="collection_feature_row">
    {% comment %}
    <div class="up_wave mb-n1">
        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0267/9373/8343/files/down_wave.svg" alt="down wave shape">
    </div>
    {% endcomment %}
    <div class="collection_feature_row_inner py-5">      
      <div class="container">
      	<div class="row align-items-center{% if section.settings.image_alignment == 'right' %} flex-row-reverse{% endif %}">
          <div class="col-md-7">
            <div class="feature_row_column text-center">
              <div class="feature_row_img d-inline-block position-relative">
              	{% if section.settings.image != blank %}
              		<img src="{{ section.settings.image | img_url: '800x500' }}" alt="{{ section.settings.image.alt }}"/>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="feature_row_column feature_row_info text-center text-md-start">
              <div class="section_header">
              {% if section.settings.title != blank %}
                <h2 class="position-relative justify-content-md-start">{{ section.settings.title }}</h2>
              {% endif %}
              {% if section.settings.richtext != blank %}
                <div class="richtext my-4">{{ section.settings.richtext }}</div>
              {% endif %}
              </div>
              {% if section.settings.btn_link != blank %}
                <div class="">
                  <a class="primary_btn" data-bs-toggle="modal" data-bs-target="#buildkit" href="{{ section.settings.btn_link }}">{{ section.settings.btn_label }}</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="buildkit" tabindex="-1" aria-labelledby="buildkitLabel" aria-hidden="true">
  <div class="modal-dialog h-100">
    <div class="modal-content h-100">
      <div class="modal-header">
        <h2 class="modal-title" id="buildkitLabel">{{ section.settings.title }}</h2>
        <button type="button" class="bg-transparent border-0" data-bs-dismiss="modal" aria-label="Close">
        	{% include 'close_rounded_icon' %}
        </button>
      </div>
      <div class="modal-body d-md-flex align-items-center">
        <div class="container">
          <form action="/cart/add" method="post" class="kit_form">
            {% assign collection = collections[section.settings.collection] %}
            <div class="row justify-content-center">
              <div class="col-md-4">
                <div class="build_kit_column">       
                  <div class="build_kit_featured_image text-center mb-4">
                  	{% for product in collection.products %}
                    	{% assign singleProduct = product %}
                    		<img class="build_kit_product_image" src="{{ product.images.last | img_url: '270x315' }}" />
                    	{% break %}
                    {% endfor %}
                  </div>
                  <select class="form-select">
                    {% for product in collection.products %}
                    	<option {% if forloop.index == 1 %}selected="selected"{% endif %} class="build_kit_product_title" value="{{ product.first_available_variant.id }}" data-image="{{ product.images.last | img_url: '270x315' }}" data-price="{{ product.first_available_variant.price | money_without_currency  }}">{{product.title}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="build_kit_column">       
                  <div class="build_kit_featured_image text-center mb-4">
                    <img class="build_kit_product_image" src="https://cdn.shopify.com/s/files/1/0267/9373/8343/files/Blend_blank.svg?v=1626345472" alt="blend blank bottle" />
                   </div>
                  <select class="form-select">
                    <option value="" selected>Select Blend</option>
                    {% for product in collection.products %}
                    <option class="build_kit_product_title" value="{{ product.first_available_variant.id }}" data-image="{{ product.images.last | img_url: '270x315' }}" data-price="{{ product.first_available_variant.price | money_without_currency  }}">{{product.title}}</option>
                    {% endfor %}
                  </select>
                </div>                
              </div>
              <div class="col-md-4">
                <div class="build_kit_column">       
                  <div class="build_kit_featured_image text-center mb-4">
                    <img class="build_kit_product_image" src="https://cdn.shopify.com/s/files/1/0267/9373/8343/files/Blend_blank.svg?v=1626345472" alt="blend blank bottle" />
                   </div>
                  <select class="form-select">
                    <option value="" selected>Select Blend</option>
                    {% for product in collection.products %}
                    <option class="build_kit_product_title" value="{{ product.first_available_variant.id }}" data-image="{{ product.images.last | img_url: '270x315' }}" data-price="{{ product.first_available_variant.price | money_without_currency  }}">{{product.title}}</option>
                    {% endfor %}
                  </select>
                </div>                
              </div>
              <div class="col-md-4">
              	<div class="build_kit_checkout mt-5">
                  <div class="build_kit_items d-flex align-items-center justify-content-between pb-3">
                    <h5 class="build_kit_selected_items mb-0">Items ( <span class="item__count"> 1</span> Blends)</h5>
                    <h5 class="build_kit_selected_items_price mb-0">£<span class="final_kit_sub_price">{{ singleProduct.first_available_variant.price | money_without_currency }}</span></h5>
                  </div>
                  <div class="build_kit_items d-flex align-items-center justify-content-between pb-3 border-bottom">
                    <h5 class="build_kit_selected_items mb-0">3 Blends Kit Discount</h5>
                    <h5 class="build_kit_selected_items_price mb-0">- £<span class="final_kit_discount_price">0.00</span></h5>
                  </div>
                  <div class="build_kit_items d-flex align-items-center justify-content-between pt-3">
                    <h4 class="build_kit_total mb-0">Order Total</h4>
                    <h4 class="build_kit_total_price mb-0">£<span class="final_kit_price">{{ singleProduct.first_available_variant.price | money_without_currency }}</span></h4>
                  </div>
                  <input class="final_kit_id" type="hidden" name="id[]" value="{{  singleProduct.first_available_variant.id }}" />
                  <h6 class="text-center mt-3">(USE JIDA15 COUPON CODE AT CHECKOUT)</h6>
                  <button type="submit" class="primary_btn border-0 w-100 mt-4">
                    <span>Add to Cart</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% if section.settings.bg_color != blank %}
<style>
  .collection_feature_row_inner{
    background-color:{{ section.settings.bg_color }};
  }
</style>
{% endif %}

{% schema %}
  {
    "name": "Collection feature row",
    "settings": [
	  {
         "type": "color",
         "id": "bg_color",
         "label": "Background color"
      },
	  {
         "type": "header",
         "content": "Feature row image"
      },
	  {
         "type": "image_picker",
         "id": "image",
         "label": "Image"
      },
	  {
         "type": "header",
         "content": "Feature row Text info"
      },
      {
         "type": "text",
         "id": "title",
         "label": "Title"
      },
      {
         "type": "richtext",
         "id": "richtext",
         "label": "Info"
      },
	  {
          "type": "url",
          "id": "btn_link",
          "label": "Button URL"
      },
      {
          "type": "text",
          "id": "btn_label",
          "label": "Button label"
      },
	  {
         "type": "header",
         "content": "Image alignment"
      },
	  {
         "type": "select",
         "id": "image_alignment",
         "label": "Image alignment",
         "options": [
           {
             "value": "left",
             "label": "Left"
           },
           {
             "value": "right",
             "label": "Right"
           }
         ],
         "default": "left"
      },
	  {
         "type": "header",
         "content": "Own kit collection"
      },
	  {
         "type": "collection",
         "id": "collection",
         "label": "Collection"
      }
	]
  }
{% endschema %}
