<section class="feature_row_section">
   <div class="feature_row_section_inner">
      <div class="container">
        <div class="row align-items-center{% if section.settings.image_alignment == 'right' %} flex-row-reverse{% endif %}">
          <div class="col-md-6 order-2 order-md-1">
            <div class="feature_row_column text-center">
              <div class="feature_row_img d-inline-block position-relative">
                {% if section.settings.image != blank %}
              	<img src="{{ section.settings.image | img_url: '800x500' }}" alt="{{ section.settings.image.alt }}"/>
                {% endif %}
                {% if section.settings.certificate_image != blank %}
                <div class="certificate_img">
                	<img src="{{ section.settings.certificate_image | img_url: '140x140' }}" alt="{{ section.settings.certificate_image.alt }}"/>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-6 order-1 order-md-2">
            <div class="feature_row_column feature_row_info">
              <div class="section_header mb-5">
              {% if section.settings.title != blank %}
                <h2 class="position-relative justify-content-start">{{ section.settings.title }}</h2>
              {% endif %}
              {% if section.settings.richtext != blank %}
                <div class="richtext">{{ section.settings.richtext }}</div>
              {% endif %}
              </div>
              {% if section.settings.btn_link != blank %}
                <div class="">
                  <a class="primary_btn" href="{{ section.settings.btn_link }}">{{ section.settings.btn_label }}</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
   </div>
</section>

{% schema %}
{
   "name": "Feature row Section",
   "class": "section_start",
   "settings": [
      {
         "type": "header",
         "content": "Feature row image"
      },
	  {
         "type": "image_picker",
         "id": "image",
         "label": "Image"
      },
	  {
         "type": "image_picker",
         "id": "certificate_image",
         "label": "Certificate image"
      },
	  {
         "type": "header",
         "content": "Feature row Text info"
      },
      {
         "type": "text",
         "id": "title",
         "label": "Title"
      },
      {
         "type": "richtext",
         "id": "richtext",
         "label": "Info"
      },
	  {
          "type": "url",
          "id": "btn_link",
          "label": "Button URL"
      },
      {
          "type": "text",
          "id": "btn_label",
          "label": "Button label"
      },
	  {
         "type": "header",
         "content": "Image alignment"
      },
	  {
         "type": "select",
         "id": "image_alignment",
         "label": "Image alignment",
         "options": [
           {
             "value": "left",
             "label": "Left"
           },
           {
             "value": "right",
             "label": "Right"
           }
         ],
         "default": "left"
      }
   ]
}
{% endschema %}
